#sk{
    text-decoration: none;
} /* skill page css */

:root{
   --poppins: 'Poppins', sans-serif;
   --sans: 'Open Sans', sans-serif;
 
   --black: #111;
   --nero: #252525;
   --transition: all 0.4s ease;
}
*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: var(--sans);
}
body{
   color: #fff;
   line-height: 1.5;
   background: var(--black);
   overflow-x: hidden;
}


.text{
   font-size: 1.05rem;
   color: #d0d0d0;
   line-height: 1.7;
}

/* title */
.title{
   position: relative;
}
.title > h2{
   font-size: 3rem;
   font-family: var(--poppins);
   text-align: center;
   text-transform: capitalize;
   font-weight: 900;
   color: var(--nero);
   color: rgba(0, 43, 128, 0.575);
}
.title div{
   position: absolute;
   top: 50%;
   left: 50%;
   text-align: center;
   width: 100%;
   transform: translate(-50%, -50%);
}
.title div h2{
   text-transform: capitalize;
   font-size: 2rem;
   font-family: var(--poppins);
   font-weight: 800;
}
.container{
   width: 90vw;
   margin: 0 auto;
}

@media screen and (min-width: 500px){
   .title > h2{
       font-size: 6rem;
   }
   .title div h2{
       font-size:large
   }    
}

@media screen and (min-width: 992px){
   .container{
       width: 88vw;
   }
}
@media screen and (min-width: 1200px){
   .container{
       width: 85vw;
   }
}




.skills{
   padding: 5rem 0 2.5rem 0;
}
.skills > .text{
   width: 70%;
   margin: 1.5rem auto;
   text-align: center;
}
.skills .row{
   margin: 1rem 0;
}
.skills .item{
   padding: 0.5rem 0;
   margin: 0.3rem 0;
}
.skills .item-text{
   display: flex;
   justify-content: flex-start;
   font-weight: 600;
   font-size: 1.3rem;
   position: relative;
}
.skills .item-text span:last-child{
   position: absolute;
}
.skills .item-text .w-90{
   margin-left: 85%;
}
.skills .item-text .w-75{
   margin-left: 70%;
}
.skills .item-text .w-85{
   margin-left: 80%;
}
.skills .item-text .w-80{
   margin-left: 75%;
}
.skills .item-text .w-60{
   margin-left: 55%;
}
.skills .item-text .w-68{
   margin-left: 63%;
}
.progress{
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.877), 0 10px 10px rgba(20, 0, 198, 0.366);
   margin: 0.8rem 0;
   border-radius: 10px;
   height: 16px;
   width: 100%;
   background-color: var(--nero);
   overflow: hidden;
}
.progress-bar{
   background: var(--green);
   height: 100%;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
}
.progress-bar.w-90{
   width: 90%;
   animation-name: w-90;
   animation-duration: 3s;
   background-color: rgb(6, 155, 241);
   
}
.progress-bar.w-75{
   width: 75%;
   animation-name: w-75;
   animation-duration: 3s;
   background-color: rgb(6, 250, 6);
}
.progress-bar.w-85{
   width: 85%;
   animation-name: w-85;
   animation-duration: 3s;
   background-color: rgb(249, 135, 5);

}
.progress-bar.w-80{
   width: 80%;
   animation-name: w-80;
   animation-duration: 3s;
   
   background-color: aquamarine
}

@keyframes w-90{
   0%{
       width: 0%;
   }
   100%{
       width: 90%;
   }
   
}

@keyframes w-75{
   0%{
       width: 0%;
   }
   100%{
       width: 75%;
   }
   
}

@keyframes w-85{
   0%{
       width: 0%;
   }
   100%{
       width: 85%;
   }
   
}

@keyframes w-80{
   0%{
       width: 0%;
   }
   100%{
       width: 80%;
   }
   
}
x